# Configurations for connecting with MYSQL


#### <span style="color: blue">Method - 1</span> &nbsp;&nbsp;<font size="+1">=====> &nbsp;&nbsp;using &nbsp;<code style="background-color: yellow">%load_ext &nbsp;sql</code> </font>

In [2]:
# pip install ipython-sql
# pip install mysqlclient

# Load the SQL extension
%load_ext sql

# Connect to your MySQL database
# %sql mysql://username:password@hostname:port/database_name
# %sql mysql://root:Mishra@1992@localhost:3306/
%sql mysql://root:Mishra@1992@127.0.0.1:3306/

Traceback (most recent call last):
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\engine\base.py", line 146, in __init__
    self._dbapi_connection = engine.raw_connection()
                             ^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\engine\base.py", line 3304, in raw_connection
    return self.pool.connect()
           ^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\pool\base.py", line 449, in connect
    return _ConnectionFairy._checkout(self)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\pool\base.py", line 1263, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\pool\base.py", line 712, in checkout
    rec = pool._do_get()
          ^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\pool\impl.py", line 179, in _do_get
    with util.safe_reraise():
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\util\langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\pool\impl.py", line 177, in _do_get
    return self._create_connection()
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\pool\base.py", line 390, in _create_connection
    return _ConnectionRecord(self)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\pool\base.py", line 674, in __init__
    self.__connect()
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\pool\base.py", line 900, in __connect
    with util.safe_reraise():
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\util\langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\pool\base.py", line 896, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
                                         ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\engine\create.py", line 643, in connect
    return dialect.connect(*cargs, **cparams)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\engine\default.py", line 617, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\MySQLdb\__init__.py", line 121, in Connect
    return Connection(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\MySQLdb\connections.py", line 195, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb.OperationalError: (2005, "Unknown server host '1992@127.0.0.1' (11003)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sql\connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
                              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sql\connection.py", line 55, in __init__
    self.internal_connection = engine.connect()
                               ^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\engine\base.py", line 3280, in connect
    return self._connection_cls(self)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\engine\base.py", line 148, in __init__
    Connection._handle_dbapi_exception_noconnection(
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\engine\base.py", line 2444, in _handle_dbapi_exception_noconnection
    raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\engine\base.py", line 146, in __init__
    self._dbapi_connection = engine.raw_connection()
                             ^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\engine\base.py", line 3304, in raw_connection
    return self.pool.connect()
           ^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\pool\base.py", line 449, in connect
    return _ConnectionFairy._checkout(self)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\pool\base.py", line 1263, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\pool\base.py", line 712, in checkout
    rec = pool._do_get()
          ^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\pool\impl.py", line 179, in _do_get
    with util.safe_reraise():
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\util\langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\pool\impl.py", line 177, in _do_get
    return self._create_connection()
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\pool\base.py", line 390, in _create_connection
    return _ConnectionRecord(self)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\pool\base.py", line 674, in __init__
    self.__connect()
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\pool\base.py", line 900, in __connect
    with util.safe_reraise():
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\util\langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\pool\base.py", line 896, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
                                         ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\engine\create.py", line 643, in connect
    return dialect.connect(*cargs, **cparams)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sqlalchemy\engine\default.py", line 617, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\MySQLdb\__init__.py", line 121, in Connect
    return Connection(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\MySQLdb\connections.py", line 195, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb.OperationalError) (2005, "Unknown server host '1992@127.0.0.1' (11003)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])


#### <span style="color: blue">Method - 2</span> &nbsp;&nbsp;<font size="+1">=====> &nbsp;&nbsp;using &nbsp;<code style="background-color: yellow">SQLALchemy engine</code> </font>

In [32]:

from sqlalchemy import create_engine

# Define connection parameters
username = 'root'            # username
password = 'Mishra@1992'     # password
host = '127.0.0.1'           # or 'localhost'
port = '3306'                # default MySQL port
database = 'practice_db'     # your databse name

# Construct the connection string
connection_string = f'mysql://{username}:{password}@{host}:{port}/{database}'

# Create SQLAlchemy engine
engine = create_engine(connection_string)

In [33]:

# Test the connection by executing a sample query
with engine.connect() as connection:
    result = connection.execute('SELECT 1')
    print(result.fetchone())

OperationalError: (MySQLdb.OperationalError) (2005, "Unknown server host '1992@127.0.0.1' (11003)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)


#### <span style="color: blue">Method - 3</span> &nbsp;&nbsp;<font size="+1">=====> &nbsp;&nbsp;using &nbsp;<code style="background-color: yellow">MySQLdb</code>&nbsp; and &nbsp;<code style="background-color: yellow">pandas.read_sql</code>&nbsp; </font>

In [9]:
import MySQLdb

# Define connection parameters
host = '127.0.0.1'           # hostname or your MySQL server IP address
username = 'root'            # username
password = 'Mishra@1992'     # password
database = 'practice_db'     # database

try:
    # Establish connection
    connection = MySQLdb.connect(host = host,
                                 user = username,
                                 password = password,
                                 database = database)
    
    # Create a cursor object
    cursor = connection.cursor()     # <mysql.connector.connection_cext.CMySQLConnection object at 0x000001E9C5EF8610>

    # Execute a SQL query
    query = "SELECT * FROM employees"
    cursor.execute(query)

    # Fetch results
    results = cursor.fetchall()

    # Do something with the results
    for row in results:
        print(row)

    # Don't forget to close the cursor and connection when done
    cursor.close()
    connection.close()

except MySQLdb.Error as e:
    print("Error connecting to MySQL:", e)

(29, 'Pedro', 198)
(72, 'Pierre', 29)
(123, 'Adil', 692)
(198, 'John', 333)
(333, 'Yasmina', None)
(692, 'Tarek', 333)
(4610, 'Sarah', 29)

In [10]:

import MySQLdb
import pandas as pd

# Define connection parameters & Establish connection
db = MySQLdb.connect(
    host = '127.0.0.1',           # hostname or your MySQL server IP address
    user = 'root',                # username
    password = 'Mishra@1992',     # password
    database = 'practice_db'      # database name
)

# Execute a SQL query and see the output in a frame
query = "SELECT * FROM employees"
pd.read_sql(query, db)

     id     name  manager_id
0    29    Pedro       198.0
1    72   Pierre        29.0
2   123     Adil       692.0
3   198     John       333.0
4   333  Yasmina         NaN
5   692    Tarek       333.0
6  4610    Sarah        29.0

<br>

➜ &nbsp;&nbsp;Instead of <code style="background-color: #DCFFFF">**pd.read_sql**</code>&nbsp; we can also use <code style="background-color: #DCFFFF">**pd.read_sql_query**</code>

In [13]:
pd.read_sql_query(query, db)

     id     name  manager_id
0    29    Pedro       198.0
1    72   Pierre        29.0
2   123     Adil       692.0
3   198     John       333.0
4   333  Yasmina         NaN
5   692    Tarek       333.0
6  4610    Sarah        29.0

<span style="color: red">We can ignore the warnings using 2 methods - <br>
<font size="+2"><span style="color: red">↳</span></font>&nbsp;&nbsp; &nbsp;<code style="background-color: #F4E8F7; color: red">&nbsp;<strong>warnings module</strong>&nbsp;</code>  <br>
<font size="+2"><span style="color: red">↳</span></font>&nbsp;&nbsp; &nbsp;<code style="background-color: #F4E8F7; color: red">&nbsp;<strong>try catch block</strong>&nbsp;</code>
</span>

<br>

**➜ &nbsp;&nbsp;using &nbsp;<span style="color: red">&nbsp;warnings module&nbsp;</span> to &nbsp;ignore &nbsp;warnings**

In [4]:

import MySQLdb
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Define connection parameters & Establish connection
db = MySQLdb.connect(
    host = '127.0.0.1',           # hostname or your MySQL server IP address
    user = 'root',                # username
    password = 'Mishra@1992',     # password
    database = 'practice_db'      # database name
)


# Execute a SQL query and see the output in a frame
query = "SELECT * FROM employees"
pd.read_sql(query, db)

     id     name  manager_id
0    29    Pedro       198.0
1    72   Pierre        29.0
2   123     Adil       692.0
3   198     John       333.0
4   333  Yasmina         NaN
5   692    Tarek       333.0
6  4610    Sarah        29.0

**➜ &nbsp;&nbsp;using <span style="color: red">&nbsp;try - catch&nbsp;</span> block**

In [7]:
import MySQLdb


try:
    # Establish connection
    connection = MySQLdb.connect(
        host = '127.0.0.1',
        user = 'root',
        password = 'Mishra@1992',
        database = 'practice_db'
    )

    
    # Execute a SQL query and see the output in a frame
    query = "SELECT * FROM employees"
    df = pd.read_sql(query, db)
    print(df)


except MySQLdb.Error as e:
    print("Error connecting to MySQL:", e)

     id     name  manager_id
0    29    Pedro       198.0
1    72   Pierre        29.0
2   123     Adil       692.0
3   198     John       333.0
4   333  Yasmina         NaN
5   692    Tarek       333.0
6  4610    Sarah        29.0


#### <font size="+2">⭐</font> <span style="color: blue">Method - 4</span> &nbsp;&nbsp;<font size="+1">=====> &nbsp;&nbsp;using &nbsp;<code style="background-color: yellow">mysql.connector</code>&nbsp; and &nbsp;<code style="background-color: yellow">pandas.read_sql</code>&nbsp; </font>

In [8]:

# pip install mysql-connector-python

import mysql.connector
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

db = mysql.connector.connect(
    host = "127.0.0.1",
    user = "root",
    password = 'Mishra@1992',
    database = 'practice_db'
)

In [2]:
mycursor = db.cursor()
print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001E04D27AF10>

In [3]:

# db.cursor().execute("sql query")
mycursor.execute("SELECT * FROM employees")

output = mycursor.fetchall()

for x in output:
    print(x)

(29, 'Pedro', 198)
(72, 'Pierre', 29)
(123, 'Adil', 692)
(198, 'John', 333)
(333, 'Yasmina', None)
(692, 'Tarek', 333)
(4610, 'Sarah', 29)

In [4]:

query = "SELECT * FROM employees"

pd.read_sql(query, db)

     id     name  manager_id
0    29    Pedro       198.0
1    72   Pierre        29.0
2   123     Adil       692.0
3   198     John       333.0
4   333  Yasmina         NaN
5   692    Tarek       333.0
6  4610    Sarah        29.0

<span style="color: red">To handle connection errors, use the **try** statement and **catch** all errors using the <code>errors.Error</code> exception:</span>

In [5]:

import mysql.connector
from mysql.connector import errorcode


try:
  db = mysql.connector.connect(host = "127.0.0.1",
                                user = "root",
                                password = 'Mishra@1992',
                                database = 'practice_db')
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)
# else:
#   db.close()

<br>

➜ &nbsp;&nbsp;using <code style="background-color: #DCFFFF">**pd.read_sql_query**</code>

In [6]:

# Execute a SQL query and see the output in a frame
query = "SELECT * FROM employees"
df = pd.read_sql(query, db)
print(df)

     id     name  manager_id
0    29    Pedro       198.0
1    72   Pierre        29.0
2   123     Adil       692.0
3   198     John       333.0
4   333  Yasmina         NaN
5   692    Tarek       333.0
6  4610    Sarah        29.0

<br>

➜ &nbsp;&nbsp;using <code style="background-color: #DCFFFF">**pd.read_sql**</code>

In [7]:
df = pd.read_sql(query, db)
df

     id     name  manager_id
0    29    Pedro       198.0
1    72   Pierre        29.0
2   123     Adil       692.0
3   198     John       333.0
4   333  Yasmina         NaN
5   692    Tarek       333.0
6  4610    Sarah        29.0

#### <span style="color: blue">Method - 5</span> &nbsp;&nbsp;<font size="+1">=====> &nbsp;&nbsp;using &nbsp;<code style="background-color: yellow">pymysql</code>&nbsp; and &nbsp;<code style="background-color: yellow">pandas.read_sql</code>&nbsp; </font>

In [11]:

# pip install PyMySQL
# pip install ipython-sql
# pip install mysqlclient

import pymysql
import pandas as pd

db_name = "practice_db"
db_host = "127.0.0.1"
db_port = int(3306)
db_username = "root"
db_password = "Mishra@1992"

try:
    conn = pymysql.connect(host = db_host,
                           port = db_port,
                           user = db_username,
                           password = db_password,
                           db = db_name)
except e:
    print (e)
if conn:
    print ("connection successful")
else:
        print ("error")


df = pd.read_sql_query("SELECT * FROM employees", conn)
df

connection successful

C:\Users\user\AppData\Local\Temp\ipykernel_14160\2377733517.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM employees", conn)

     id     name  manager_id
0    29    Pedro       198.0
1    72   Pierre        29.0
2   123     Adil       692.0
3   198     John       333.0
4   333  Yasmina         NaN
5   692    Tarek       333.0
6  4610    Sarah        29.0

<span style="color: blue">**NOTE**</span> - <span style="background-color: #F4E8F7">&nbsp;&nbsp;https://blog.jetbrains.com/datalore/2022/02/14/how-to-run-sql-from-jupyter-notebook-two-easy-ways/&nbsp;&nbsp;</span>

# SQL

In [7]:

import mysql.connector
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

db = mysql.connector.connect(
    host = "127.0.0.1",
    user = "root",
    password = 'Mishra@1992',
    database = 'practice_db'
)

query = '''\
with cte as (
	select 
		*,
		lag(free, 1) over (order by seat_id) as previous_free,
		lead(free, 1) over (order by seat_id) as next_free
	from cinema
)
select * from cte
where free = 1 and (free = previous_free or free = next_free)
'''

pd.read_sql(query, db)

   seat_id  free  previous_free  next_free
0        3     1              0          1
1        5     1              1          0
2        4     1              1          1